01_STM_diff_MarSep_rep
02_STM_diff_SunShade_rep
03_STM_diff_local_rep
04_SSM_cyclic_MarSep_SIG5
05_SSM_cyclic_MarSep_BLRP
06_SSM_cyclic_MarSep_constant_input
06_SSM_cyclic_MarSep_constant_input2
07_Embedding_local
08_CCM_local
09_Convergence_local
figures

06_SSM_cyclic_MarSep_constant_input.R

Fig.2_MarSeprep_231116.R
Fig.2_MarSeprep_231123_v1.R
Fig.2_MarSeprep_231123_v2.R
Fig.2_MarSeprep_231123_v4.R
Fig.3_LLMX_231116.R
Fig.4_localrep_231116.R
Fig.S2_MarSep_original_231117.R
Fig.S3_SunShade_original_231117.R
Fig.S4_SunShaderep_231117.R
Fig.S8_SIG5const2_231117.R
Fig.S9_BLRPconst2_231117.R
Fig.S10_local_original_231117.R

functions/Plot_functions.R
functions/Plot_functions_231123_v1.R
functions/Plot_functions_231123_v2.R
functions/Plot_functions_231123_v4.R
functions/STM_diff.R
